<%- include("partials/header") %>

<input type="text" placeholder="Search blog...">

<a href="/create-post">
    <button type="button">New Post</button>
</a>
<% if (locals.posts) { %>
<% for (let post of posts) { %>
    <% if (post.title !== undefined){ %>
    <div>
        <h3><%= post.title %></h3>
        <p><%= post.description %></p>
        <p><i><%= post.dateCreated %></i></p>
        <a href="/edit-post/<%= post.id %>">Edit</a>
        <a href="/delete-post/<%= post.id %>">Delete</a>
    </div>
    <% } %>
<% } %>
<% } else { %>
<p>No posts yet.</p>
<% } %>

<%- include("partials/footer") %>